<h1>Here is your title</h1>

<%= link_to 'Edit article', edit_article_path(@article) %>

<p>
  Title: <%= @article.title %>
</p>
<p>
  Description: <%= @article.description %>
</p>

<%= link_to 'Back to articles list', articles_path %>